/plugins-compat-tester/target
/plugins-compat-tester/.settings
/plugins-compat-tester/.classpath
/plugins-compat-tester/.project
/plugins-compat-tester/plugins-compat-tester (1).iml
/plugins-compat-tester-cli/plugins-compat-tester-cli.iml
plugins-compat-tester.iml
target
/plugins-compat-tester-cli/nbactions*.xml
/plugins-compat-tester-cli/nb-configuration.xml
reports
