### Maven
target/
plugins-compat-tester-cli/dependency-reduced-pom.xml

### IntelliJ IDEA
.idea/
*.ipr
*.iml

### Eclipse
.factorypath
.classpath
.settings/
.project

### Jenkins
work/
^jenkins/

### CLI
out/
tmp/
reports/

### MacOS
.DS_Store

