<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>org.jenkins.tools.test.servlets.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initToken</servlet-name>
        <servlet-class>org.jenkins.tools.test.servlets.InitTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>writePctResult</servlet-name>
        <servlet-class>org.jenkins.tools.test.servlets.WritePCTResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveResultsServlet</servlet-name>
        <servlet-class>org.jenkins.tools.test.servlets.RetrieveResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurgeResultsServlet</servlet-name>
        <servlet-class>org.jenkins.tools.test.servlets.PurgeResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataProviderServlet</servlet-name>
        <servlet-class>org.jenkins.tools.test.servlets.DataProviderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initToken</servlet-name>
        <url-pattern>/initToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>writePctResult</servlet-name>
        <url-pattern>/writePctResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveResultsServlet</servlet-name>
        <url-pattern>/getResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurgeResultsServlet</servlet-name>
        <url-pattern>/purgeResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataProviderServlet</servlet-name>
        <url-pattern>/getData</url-pattern>
    </servlet-mapping>
</web-app>
